# IDE configs
.idea/
.vscode/

# cache
**/.cache
**/.pytest_cache

# virtualenvs
**/py_env
**/venv
**/dist
**/pycalc.egg-info
**/.vs

# coverage report
**/htmlcov
**/.coverage
**/coverage.xml

# build products
*.pyc
